.bar {
  position: fixed;

  top: 0;
  left: 0;

  z-index: map-get($z-index, "bar");

  display: flex;

  width: 100%;
  height: $bar-height;

  background-color: $gray-dark;

  align-items: center;
}

.bar--expanded {
  top: -1px;

  height: $bar-height * 2;

  flex-wrap: wrap;
}

.bar__panel {
  padding-right: $default-spacing;
  padding-left: $default-spacing;
}

.bar__panel--right {
  margin-left: auto;
}

.bar__extra {
  width: 100%;
  height: $bar-height;

  flex: 1 100%;
}
